.DS_Store

blueline/*
!blueline/config.json
!blueline/overlays-*

crosshatch/*
!crosshatch/config.json
!crosshatch/overlays-*

sargo/*
!sargo/config.json
!sargo/overlays-*

bonito/*
!bonito/config.json
!bonito/overlays-*
